<div class="hide_1">
  <form action=" " method="get">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter City Name" name="city_name">
      </div>
    </div>
    <br>


    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="submit" onclick="alert('System is started!')">Start</button>
    </div>
</div>

</form>
<br>
<div class="hide_2">
  <form action=" " method="get">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-danger" type="submit" onclick="alert('System is Turned Off!')">Stop</button>
    </div>
  </form>
</div>